<div class="conatiner-fluid">
  <h2 class="my-3 mx-3">Próximos dias</h2>
  <mat-card class="mt-2 mx-3 shadow-lg">
    <div *ngFor="let vence of tarefas | async">
      <mat-card *ngIf="venceTarefa(vence)" class="m-3 shadow-md">
          <mat-card-header>
          <mat-card-title>{{vence.title}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <p>Descrição da tarefa: {{vence.descricao}}</p>
              <p>Vencimento: {{vence.vencimento | date: 'short'}}</p>
              <p>Criação: {{vence.criacao | date: 'short'}}</p>
          </mat-card-content>
      </mat-card>
    </div>
  </mat-card>
</div>
